/******************************* Global Styles **************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #0f0f0f;
  --white-color: #ffffff;
  --gray-color: #d5d2da;
  --blue-color: #7633f9;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  overflow-anchor: none;
  background-color: var(--black-color);
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

li {
  list-style: none;
}

section {
  padding: 5rem 0;
}

.container {
  width: 100%;
  max-width: 110rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.btn {
  padding: 1.2rem 3rem;
  font-size: 1.5rem;
  border-radius: 10rem;
  border: 1px solid var(--blue-color);
  color: var(--white-color);
  transition: all 0.3s ease-out;
  position: relative;
}

.btn-primary {
  background-color: var(--blue-color);
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.btn-primary:hover {
  background-color: transparent;
}

.scroll--active {
  background-color: var(--black-color);
  height: 10rem;
}

.global-heading {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--gray-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.global-heading .headline {
  font-size: 4rem;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.global-heading .sub-headline {
  font-size: 1.7rem;
  font-weight: lighter;
  text-transform: uppercase;
  opacity: 0.6;
}

.global-heading .headline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.6rem;
  left: 0;
  bottom: -15%;
  background: var(--blue-color);
  border-radius: 10rem;
}

/********************** Header Styles **********************/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: center;
  z-index: 999;
  transition: all 0.6s ease;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  z-index: 1500;
}

.nav-logo img {
  max-width: 50%;
  transform: scale(1.2);
}

.hamburger-menu {
  position: relative;
  font-size: 3rem;
  color: var(--white-color);
  cursor: pointer;
  z-index: 1500;
}

.hamburger-menu .fa-times {
  display: none;
}

.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1400;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s ease-out;
}

.header--active .nav-list {
  opacity: 1;
  transform: scale(1);
}

.header--active .fa-times {
  display: block;
}

.header--active .fa-bars {
  display: none;
}

.nav-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.nav-item {
  width: 100%;
  text-align: center;
}

.nav-link {
  display: block;
  color: var(--gray-color);
  font-size: 2rem;
  padding: 2rem;
  transition: all 0.3s ease-out;
  position: relative;
}

.nav-link:hover {
  background-color: var(--blue-color);
}

/********************** Hero Styles & About Styles **********************/

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-content,
.about-content {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  color: var(--white-color);
}

.hero-contentImage img,
.about-contentImage img {
  mask-image: radial-gradient(circle at center, black 50%, transparent 60%);
  -webkit-mask-image: radial-gradient(
    circle at center,
    black 50%,
    transparent 60%
  );
  max-width: 35rem;
  height: 45rem;
  object-fit: cover;
}

.hero-contentDetails,
.about-contentDetails {
  order: 2;
  text-transform: capitalize;
}

.hero-contentDetails h2 {
  color: var(--gray-color);
}

.hero-contentDetails h1 {
  font-size: 2.4rem;
  margin: 2rem 0;
}

.hero-contentDetails p,
.about-contentDetails p {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.hero-btnGroup {
  margin-top: 4rem;
}

/********************** Project-Section Styles **********************/

.project {
  padding: 2.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 0px 5px rgba(118, 52, 249, 0.78);
  margin: 10rem auto;
  position: relative;
  color: var(--gray-color);
}

.project-img {
  min-width: 30rem;
}

.project-img img {
  animation: move 4s infinite linear alternate;
}

@keyframes move {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1.5rem);
  }
}

.project-details h1 {
  font-size: 2.6rem;
}

.project-details p {
  font-size: 1.8rem;
  margin: 2rem 0;
  text-transform: capitalize;
  line-height: 1.6;
}

.project-details h4 {
  font-size: 1.6rem;
}

.project-details h4 span {
  font-size: 1.3rem;
  padding: 0.4rem 1.4rem;
  color: var(--gray-color);
  border-radius: 10rem;
  background-color: var(--blue-color);
  display: inline-block;
  margin: 0.5rem 0;
}

.project-btnGroup {
  margin-top: 2rem;
}

.project-btnGroup {
  display: flex;
  flex-direction: column;
}

.project-btnGroup .btn {
  width: 100%;
  text-align: center;
}

/********************** Skill Styles **********************/

.skill-content {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
}

.skill-badge h1 {
  font-size: 2rem;
  border-radius: 10rem;
  padding: 1rem 2rem;
  background-color: var(--blue-color);
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
}

.skill-badge h1:hover {
  color: var(--blue-color);
  background-color: var(--white-color);
}

/********************** Quote Styles **********************/

.quote-section {
  text-align: center;
  color: var(--white-color);
}

.quote-content {
  margin-top: 4rem;
}

.quote-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.quote-content p {
  font-size: 1.4rem;
}

/********************** About Styles **********************/

.about-contentDetails p {
  font-size: 1.5rem;
}

/********************** Contact Styles **********************/

.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.contact-sm,
.contact-direct {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.contact-badge a {
  font-size: 1.8rem;
  color: var(--gray-color);
  padding-bottom: 0.6rem;
}

.contact-badge a:hover {
  border-bottom: 4px solid var(--blue-color);
}
/********************** Footer Styles **********************/

footer {
  padding: 4rem 0;
  background-color: var(--blue-color);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-links ul {
  display: flex;
}

.footer-links ul li:not(:last-child) {
  margin-right: 2rem;
}

.footer-links ul li a,
.footer-msg {
  color: var(--white-color);
  font-size: 1.6rem;
  text-transform: capitalize;
}

.footer-links ul li a:hover {
  border-bottom: 2px solid var(--white-color);
}

/********************** Responsive Styles **********************/

@media screen and (min-width: 50rem) {
  .btn {
    font-size: 1.7rem;
  }

  .btn-primary {
    margin-bottom: 0;
  }

  .hamburger-menu {
    display: none;
  }

  .nav-list {
    position: initial;
    width: initial;
    height: initial;
    flex-direction: row;
    justify-content: initial;
    background-color: transparent;
    opacity: 1;
    transform: scale(1);
  }

  .nav-link:hover {
    background-color: transparent;
  }

  .nav-item {
    margin-bottom: 0.5rem;
  }

  .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.5rem;
    border-radius: 10rem;
    background-color: var(--blue-color);
    transition: all 0.3s ease-in;
  }

  .nav-link:hover::before {
    width: 100%;
  }

  .hero-content,
  .about-content {
    grid-template-columns: repeat(2, 1fr);
    text-align: justify;
    margin-top: 4rem;
  }

  .hero-contentDetails,
  .about-contentDetails {
    order: 0;
    max-width: 80%;
  }

  .hero-section {
    display: flex;
    align-items: center;
  }

  .hero-contentDetails h2 {
    font-size: 2rem;
  }

  .hero-contentDetails h1 {
    font-size: 3rem;
  }

  .hero-contentDetails p,
  .about-contentDetails p {
    font-size: 1.8rem;
    line-height: 2;
  }

  .hero-contentImage img,
  .about-contentImage img {
    max-width: 90%;
  }

  .project {
    padding: 5rem 2.5rem;
    flex-direction: row;
    max-width: 110rem;
  }

  .project:nth-child(odd) .project-img {
    order: 2;
  }

  .project:nth-child(even) .project-details {
    text-align: justify;
  }

  .project-img img {
    transform: scale(1.3);
  }

  .project-btnGroup {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .project-btnGroup .btn {
    width: initial;
  }

  .footer-content {
    justify-content: space-between;
  }
}

/* Bouncer Loader Styles */
.bouncer-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: var(--black-color);
  display: flex;
  align-items: center;
  justify-self: center;
  z-index: 999999999;
}

.bouncer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
}

.bouncer div {
  width: 4rem;
  height: 4rem;
  background-color: var(--blue-color);
  border-radius: 50%;
  animation: bouncer 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;
}

.bouncer div:nth-child(2) {
  animation-delay: 0.1s;
}

.bouncer div:nth-child(3) {
  animation-delay: 0.2s;
}

.bouncer div:nth-child(4) {
  animation-delay: 0.3s;
}

.bouncer-end {
  transform: translateX(-100%);
  opacity: 0;
}

@keyframes bouncer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10rem);
  }
}
